swagger: "2.0"
info:
  description: "This is sample Swagger document"
  version: "0.0.1"
  title: "Sample Swagger"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "dicksonchow2007@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "sample.com"
basePath: "/api/v1"
schemes:
- "http"
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
paths:
  /test:
    get:
      tags:
      - "test"
      summary: "Test API"
      description: ""
      operationId: "testApi"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Test"
definitions:
  Test:
    type: "object"
    required:
    - "name"
    properties:
      id:
        type: "string"
      name:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"